/* General Layout */

.molengo-regular {
    font-family: "Molengo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
}

p {
    color: antiquewhite;
    padding-bottom: 35px;
    font-family: "Molengo", sans-serif;
}

h2 {
    padding-bottom: 2px;
    color: #ffce8d;
    font-family: "Molengo", sans-serif;
}

nav :first-child {
    margin-right: auto;
    padding-left: 35px;
    font-family: "Molengo", sans-serif;
}

.logo {
    width: 135px;
    height: auto;
}
    
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(15px);
    background-color: #1a1a1ae7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

body {
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffca8d;
    line-height: 2;
    list-style: none;
    text-decoration: none;
    min-height: 100vh;

}

nav {
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #e7b66d;
    transition: filter 0.2s ease;
    
}

nav a:hover {
    filter: brightness(1.7);
}

.sidebar {
    font-family: "Molengo", sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    height: 390px;
    width: 230px;
    z-index: 999;
    background-color: rgba(18, 18, 18, 0.952);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(15px);
}

.sidebar li {
    width: 100%;
    
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
    filter: invert(75%);

}

@media(max-width: 1050px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}


/* Main content */
main {
    padding: 5%;
    text-align: center;
    margin-top: 25px;
   
}


section {
    text-align: center;
}

section:nth-child(odd) {
    background: #1b1b1bd2;
    padding: 20px;
    padding-bottom: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section:nth-child(even) {
    background: #1d1d1de1;
    padding: 15px;
    padding-bottom: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.);
}

/* Gallery Section */
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
}

.project-img {
    width: 100%;
    height: 100%;
    max-width: 290px;
    max-height: 340px;
    transition: box-shadow 0.1s ease, opacity 0.8s ease-out, transform 0.1s ease-out, filter 0.1s ease-out;
    object-fit: cover;
    aspect-ratio: 3 / 4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.479);
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Slightly lower position */
}

.project-img.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Return to original position */
}

.project-img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    filter: contrast(125%);
    filter: brightness(125%);
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: flex;
    border-radius: 6px;
}

#modal-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#caption {
    display: none;
}

#modal-img-container {
    display: flex;
    flex-direction: column; /* Stack the image and caption vertically */
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    transition: transform 0.3s ease;
}

/* Footer */
footer {
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    padding-top: 25px;
}




html {
    scroll-behavior: smooth;
}

